
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~sumoselect/sumoselect.min.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.SumoSelect{
  display: block;
  width: 100%;
}
.SumoSelect>.CaptionCont{
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.SumoSelect.open>.CaptionCont, .SumoSelect:focus>.CaptionCont, .SumoSelect:hover>.CaptionCont {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.SumoSelect>.CaptionCont>label {
  left: 0;
  right: auto;
  margin-bottom: 0;
}
.SumoSelect>.CaptionCont>span {
  padding-right: 0;
  padding-left: 30px;
  font-style: normal!important;
}
.SumoSelect .select-all>label, .SumoSelect>.CaptionCont, .SumoSelect>.optWrapper>.options li.opt label{
  margin-bottom: 0;
}
.SumoSelect .select-all.partial>span i, .SumoSelect .select-all.selected>span i, .SumoSelect>.optWrapper.multiple>.options li.opt.selected span i {
  background-color: orangered;
}